html { font: 16pt/1.5 monospace }
body, .body { max-width: 40rem; margin: 3rem auto }
th, td { text-align: left }
input { box-sizing: border-box }
input, select, button { font: inherit; width: 100% }
td, th, input, select, button { padding: .5rem 1rem }
button { font-weight: bold }
table { border-collapse: collapse }
tr.bold { font-weight: bold }
modal:not(:target) { display: none }
modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
modal { background: white; }
